langchain_core==0.2.29
langchain_openai==0.1.21
python-dotenv==1.0.1
streamlit==1.36.0
transformers==4.43.3
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.4.0+cpu
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.5.0+cpu